  <!-- main-container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-essential">
              {{#this}}
              <form action="#" method="post" id="product_addtocart_form">
                <input name="form_key" value="{{_id}}" type="hidden">
                <div class="product-img-box col-sm-4 col-xs-12">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    {{#if url}}
                    <div class="large-image"> <a href="{{url}}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="{{url}}"> </a> </div>
                    {{else}}
                    <div class="large-image"> <a href="../images/product1.jpg" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="../images/product1.jpg"> </a> </div>
                    {{/if}}
                  </div>
                  <!-- end: more-images -->
                  <div class="clear"></div>
                </div>
                <div class="product-shop col-sm-5 col-xs-12">
                  <div class="product-name">
                    <h1>{{title}}</h1>                   
                    <p class="rating-links"><a href="#">By:{{author}}</a> </p>
                    <p class="rating-links"><a href="#">Category:{{genre}}</a> </p>
                  </div>
            
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{description}}</p>
                    {{!--<p>Sweetheart neck peplum midi dress with belt. Up the glamour stakes with this gorgeous peplum dress.</p>--}}
                  </div>
                  <div class="price-block">
                    <div class="price-box">
                      {{!--<p class="old-price"> <span class="price-label">Regular Price:</span> <span id="old-price-48" class="price">$ {{Price}} </span> </p>--}}
                      <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price">$ {{price}} </span> </p>
                    </div>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">                 
                      
                      <button id="btn-add-shoping-card" class="button btn-cart" title="Add to Cart" type="button"><span><i class="icon-basket"></i> Add to Cart</span></button>
                                       
                    <div><a href=""> &nbsp;</a></div>

                    <div class="btn-group">
                      <a href="javascript:fbShareCurrentPage()" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+escape(window.location.href)+'&t='+document.title, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500');return false;" 
                      class="btn btn-default" style="background-color: #3b5998;">
                          <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://twitter.com/intent/tweet?text={{description}}" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
                      class="btn btn-default" style="background-color:#9AD4FF;">
                          <i class="fa fa-twitter"></i>
                      </a>
                    </div>
                </div>
            
              </form>
              {{/this}}
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End main-container -->