  <!-- main-container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-essential">
              {{#this}}
              <form action="#" method="post" id="product_addtocart_form">
                <input name="form_key" value="{{_id}}" type="hidden">
                <div class="product-img-box col-sm-4 col-xs-12">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    {{#if url}}
                    <div class="large-image"> <a href="{{url}}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="{{url}}"> </a> </div>
                   {{else}}
                    <div class="large-image"> <a href="../products-images/product1.jpg" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="../products-images/product1.jpg"> </a> </div>
                    {{/if}}
                  </div>
                  <!-- end: more-images -->
                  <div class="clear"></div>
                </div>
                <div class="product-shop col-sm-5 col-xs-12">
                  {{!--<div class="product-next-prev"> <a href="#" class="product-next"><span></span></a> <a href="#" class="product-prev"><span></span></a> </div>--}}
                  <div class="product-name">
                    <h1>{{title}}</h1>                   
                    <p class="rating-links"><a href="#">By:{{author}}</a> </p>
                    <p class="rating-links"><a href="#">Category:{{genre}}</a> </p>
                  </div>
                  {{!--<div class="ratings">
                    <div class="rating-box">
                      <div style="width:60%" class="rating"></div>
                    </div>
                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                    
                  </div>--}}
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{description}}</p>
                    {{!--<p>Sweetheart neck peplum midi dress with belt. Up the glamour stakes with this gorgeous peplum dress.</p>--}}
                  </div>
                  {{!--<p class="availability in-stock">Availability: <span>In Stock</span></p>--}}
                  <div class="price-block">
                    <div class="price-box">
                      {{!--<p class="old-price"> <span class="price-label">Regular Price:</span> <span id="old-price-48" class="price">$ {{Price}} </span> </p>--}}
                      <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price">$ {{price}} </span> </p>
                    </div>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      {{!--<label for="qty">Quantity:</label>--}}
                      {{!--<div class="pull-left">
                        <div class="custom pull-left">
                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                          <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                        </div>
                      </div>--}}
                      
                      <button id="btn-add-shoping-card" class="button btn-cart" title="Add to Cart" type="button"><span><i class="icon-basket"></i> Add to Cart</span></button>
                     
                     <a class="btn  btn-social btn-facebook"><span class="fa fa-facebook"></span> Share</a> {{!--<button id="btn-share-facebook" class="fb-xfbml-parse-ignore" type="button"><span><i class="fa fa-facebook"></i> Share on Facebook</i></span></button>--}}
                    </div>
                    
                    {{!--<div class="email-addto-box">
                      <ul class="add-to-links">
                        <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                        <li><span class="separator">|</span> <a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li>
                      </ul>
                      <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
                    </div>--}}
                    {{!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Споделяне
                      </a>--}}
                    
                    </div>
                  </div>
                </div>
            
              </form>
              {{/this}}
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End main-container -->