<section class="main-container col1-layout">
            <div class="main container">
                <div class="account-login">
                    <div class="page-title">
                        <h2>Create New Book</h2>
                    </div>
                    <fieldset class="col2-set">
                        <legend>Create an Account</legend>
                        <div class="col-0 add-new-book"><strong>Add New Book</strong>
                            <div class="content">
                                <!--<p>If you have an account with us, please log in.</p>-->
                                {{#this}}
                                <ul id="book_for_edit" class="form-list" data-id={{_id}}>
                                    <li>
                                        <label>Title</label>
                                        <br>
                                        <input type="text" id="newbook-title" value="{{title}}" placeholder="Title" title="Title" class="input-text "  name="Title">
                                    </li>
                                    <li>
                                        <label>Author </label>
                                        <br>
                                        <input type="text" id="newbook-author" value="{{author}}" placeholder="Author" title="Author" class="input-text " value="" name="Author">
                                    </li>
                                    <li>
                                        <label>Genre </label>
                                        <br>
                                        <input type="text" id="newbook-genre" value="{{genre}}" placeholder="Gentre" title="Gentre" class="input-text"  name="Gentre]">
                                    </li>
                                     <li>
                                        <label>Price </label>
                                        <br>
                                        <input type="number" id="newbook-price" value="{{price}}" placeholder="Price" title="Price" class="input-text"  name="Price">
                                    </li>
                                     <li>
                                        <label>Book Picture URL </label>
                                        <br>
                                        <input type="url" id="newbook-url" value="{{url}}" placeholder="Book Picture URL" title="Url" class="input-text"  name="Url">
                                    </li>
                                    <li>
                                        <label>Description</label>
                                        <br>
                                        <textarea class="textarea " id="newbook-description" value="{{description}}"  name="Description" placeholder="Description" rows="5"></textarea>
                                        {{!--<input type="url" id="newbook-url" placeholder="Book Picture URL" title="Url" class="input-text"  name="Url">--}}
                                    </li>
                                 
                                </ul>
                                {{/this}}
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button id="btn-edit-book" name="send" type="submit" class="button create-book"><span>Edit Book</span></button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>