{{!--<div  class="top-cart-content arrow_box show">--}}
     <div class="block-subtitle">Recently added item(s)</div>
     <ul id="cart-sidebar" class="mini-products-list">
      {{#books}}
      <li class="item odd">
          <a href="#" title="Skater Dress In Leaf Print" class="product-image">
              {{#if url}}
            <img src="{{url}}" alt="Product image" width="55">
            {{else}}
            <img src="../products-images/product1.jpg" alt="Product image" width="55">
            {{/if}}
         </a>
          <div id="cart-product-details" class="product-details"> 
                <input name="form_key" value="{{_id}}" type="hidden">
              <a href="#" title="Remove This Item"  class="btn-remove1">Remove This Item
              </a> 
              <p class="product-name">
                  <a href="#">{{title}}
                  </a> 
              </p>
              <span class="price">${{price}}</span> 
        </div>
      </li>
   {{/books}}                                     
    </ul>
    <div class="top-subtotal">Subtotal: <span class="price">${{totalPrice}}</span></div>
                <div class="actions">
                    <button class="btn-checkout" type="button"><span>Checkout</span></button>
                    <button class="view-cart" type="button"><span>View Cart</span></button>
                </div>
{{!--</div>--}}
