  <!-- main-container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-essential">
              {{#this}}
              <form action="#" method="post" id="user_book_form">
                <input name="form_key" value="{{_id}}" type="hidden">
                <div class="product-img-box col-sm-4 col-xs-12">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    {{#if url}}
                    <div class="large-image"> <a href="{{url}}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="{{url}}"> </a> </div>
                   {{else}}
                    <div class="large-image"> <a href="../products-images/product1.jpg" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img alt="product-image" src="../products-images/product1.jpg"> </a> </div>
                    {{/if}}
                  </div>
                  <!-- end: more-images -->
                  <div class="clear"></div>
                </div>
                <div class="product-shop col-sm-5 col-xs-12">
                  <div class="product-name">
                    <h1>{{title}}</h1>
                    <p class="rating-links"><a href="#">By:{{author}}</a> </p>
                    <p class="rating-links"><a href="#">Category:{{genre}}</a> </p>
                  </div>
                  <div class="ratings">
                  
                  </div>
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{description}}</p>
                  </div>
                  <div class="price-block">
                    <div class="price-box">
                      <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price">$ {{price}} </span> </p>
                    </div>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">

                      <button  id="btn-editbook"class="button btn-cart" title="Edit Book" type="button">Edit Book</button>
                      <button  id="btn-delbook" class="button btn-cart" title="Delete Book" type="button">Delete Book</button>
                    </div>
                    <div class="email-addto-box">

                    </div>
                  </div>
                </div>
            
              </form>
              {{/this}}
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End main-container -->