 <div class="main-container col2-left-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-sm-9 col-sm-push-3">
                        <div class="col-main">
                            <div class="category-title">
                                <h1>My Store</h1>
                            </div>
                            <div class="category-description std">
                                <div class="slider-items-products">
                                    <div id="category-desc-slider" class="product-flexslider hidden-buttons">

                                    </div>
                                </div>
                            </div>
                            <div class="category-products">
                                <div class="toolbar">
                                    <div class="sorter">
                                    </div>
                                    <div id="sort-by">
                                    <label class="left">Sort By: </label>
                                    <ul>
                                        <li><a href="#">Sorting<span class="right-arrow"></span></a>
                                            <ul>                                           
                                                 {{#queries}}
                                                  {{#if query}}
                                                <li><a href="#/userbooks/{{query}}?sortBy=title">Title a-z </a></li>
                                                <li><a href="#/userbooks/{{query}}?sortBy=titledesc">Title z-a</a></li>
                                                <li><a href="#/userbooks/{{query}}?sortBy=price">Lowest price</a></li>
                                                <li><a href="#/userbooks/{{query}}?&sortBy=pricedesc">Highest price</a></li>
                                                    {{else}} 
                                                <li><a href="#/userbooks?sortBy=title">Title a-z </a></li>
                                                <li><a href="#/userbooks?sortBy=titledesc">Title z-a</a></li>
                                                <li><a href="#/userbooks?sortBy=price">Lowest price</a></li>
                                                <li><a href="#/userbooks?&sortBy=pricedesc">Highest price</a></li>
                                                  {{/if}}
                                                  {{/queries}}                                                    
                                            </ul>
                                        </li>
                                    </ul>
                              
                                    </div>
                                    <div class="pager">
                                        <div id="limiter">
                                            <label>View: </label>
                                            <ul>
                                                <li><a href="#">Size <span class="right-arrow"></span></a>
                                                          <ul>{{#queries}}
                                                         {{#if query}}
                                                        <li><a href="#/userbooks/{{query}}?page=0&size=6&sortBy={{sortBy}}">6</a></li>
                                                        <li><a href="#/userbooks/{{query}}?page=0&size=9&sortBy={{sortBy}}">9</a></li>
                                                        <li><a href="#/userbooks/{{query}}?page=0&size=12&sortBy={{sortBy}}">12</a></li>
                                                         {{else}}
                                                        <li><a href="#/userbooks?page=0&size=6&sortBy={{sortBy}}">6</a></li>
                                                        <li><a href="#/userbooks?page=0&size=9&sortBy={{sortBy}}">9</a></li>
                                                        <li><a href="#/userbooks?page=0&size=12&sortBy={{sortBy}}">12</a></li>
                                                        {{/if}}
                                                        {{/queries}}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pages">
                                            <label>Page:</label>
                                            <ul class="pagination">
                                                                              
                                                 {{#pages}}
                                                {{#if query}}
                                                <li><a href="#/userbooks/{{query}}?page={{page}}&size={{size}}&sortBy={{sortBy}}">{{displayPage}}</a></li>
                                                {{else}}
                                                 <li><a href="#/userbooks?page={{page}}&size={{size}}&sortBy={{sortBy}}">{{displayPage}}</a></li>
                                                 {{/if}}
                                                {{/pages}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <ul id="userproducts-image" class="products-grid">
                                    {{#books}}
                                    <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                        <div class="item-inner">
                                            <div class="product-block">
                                                <div id="userproducts-image" class="product-image">
                                                    {{!--<a href="#">--}}
                                                        <figure userdata-creator="{{_acl.creator}}" userdata-id="{{_id}}" class="product-display">
                                                          {{#if url}}
                                                          <a href="#/userbook/{{_id}}">
                                                            <img  src="{{url}}" class="lazyOwl product-mainpic" alt="{{title}}" style="display: block;">
                                                            <img   class="product-secondpic" alt="{{title}}" src="{{url}}">
                                                         </a>
                                                         {{else}}

                                                         <a href="#/userbook/{{_id}}">
                                                            <img  src="../images/product1.jpg" class="lazyOwl product-mainpic" alt="{{title}}" style="display: block;">
                                                            <img   class="product-secondpic" alt="{{title}}" src="../images/product1.jpg">
                                                         </a>
                                                            {{/if}}
                                                        </figure>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="item-info ">
                                                <div class="info-inner ">
                                                    <div class="item-title "> <a href="#" title="Retis lapen casen "> {{title}}</a> </div>
                                                    <div class="item-content ">

                                                        <div class="item-price ">
                                                            <div class="price-box "> <span class="regular-price "> <span class="price ">${{price}}</span> </span>
                                                            </div>
                                                        </div>                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                 {{/books}}
                                </ul>
                            </div>
                        </div>
                    </section>
                    <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                        <div class="side-nav-categories">
                            <div class="block-title"> Categories </div>
                            <div class="box-content box-category">
                                <ul id="magicat">
                                     {{#category}}
                                    <li class="level0- level0 open"> <span class="magicat-cat"><a href="#/userbooks/{{encodeCategory}}"><span>{{category}}</span></a>
                                        </span>

                                    </li>
                                    {{/category}}

                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>